{% extends 'market/base.html' %}
{% load static %}
{% block title %} Sign UP {% endblock %} 
{% block style %}
    <script type="text/javascript">
        function openNav() {
            document.getElementById("mySidenav").style.width = "270px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-3">
            <img style="padding-left: 0px; width: 80%" src="{% static 'market/images/side_background.png' %}" >
        </div>
        <div class="col-6 mt-5">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-secondary mt-5" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col-12 justify-content-center mb-5">
                    <h3 style="text-align: center;">Registration Form</h3>
                </div>
            <div class="row">
                <div class="col-12 justify-content-center">
                    <form class="" method="POST" action="{% url 'sign_up' %}">
                        {% csrf_token %}
                        <div class="d-flex justify-content-center mb-4">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <div class="form-outline justify-content-center">
                                <label class="form-label" for="name_id">Your Name</label>
                                <input type="text" class="form-control" name="name" id="name_id"/>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center mb-4">
                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                            <div class="form-outline justify-content-center">
                                <label class="form-label" for="email_id">Your Email</label>
                                <input type="email" class="form-control" name="email" id="email_id"/>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center mb-4">
                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                            <div class="form-outline justify-content-center">
                                <label class="form-label" for="password_id">Password</label>
                                <input type="password" class="form-control" name="password" id="password_id"/>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center mb-4">
                            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                            <div class="form-outline justify-content-center">
                                <label class="form-label" for="password1_id">Repeat your password</label>
                                <input type="password" class="form-control" name="password1" id="password1_id"/>
                            </div>
                        </div>
                        
                        <div class="d-flex justify-content-center mx-4">
                            <button type="submit" class="btn btn-primary btn-lg" name="foo" value="register" style="margin-top: 40px; background-color: black; border: none" formmethod="POST">Register</button>
                        </div>
                        
                        <div class="d-flex mt-3 justify-content-center">
                            <a href="{% url 'sign_in' %}">Log in</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
        <div class="col-3">
            <img style="padding-right: 0px; width: 80%" src="{% static 'market/images/side_background.png' %}" align="right">
        </div>
    </div>
{% endblock %}